// other changes
#login {
  background-image: url(../img/lsd/lsd.jpg);
}

// LSD Power!
#header, #menu, #login .centered-ghost {
  animation: lsdtrip 2s infinite;
  -webkit-animation: lsdtrip 2s infinite; /* Chrome and Safari */
}

@keyframes lsdtrip 
{
	0% {
		background-color: hsl(201, 100%, 39%);
	}
	10% {
		background-color: hsl(237, 100%, 39%);
	}
	20% {
		background-color: hsl(273, 100%, 39%);
	}
	30% {
		background-color: hsl(309, 100%, 39%);
	}
	40% {
		background-color: hsl(345, 100%, 39%);
	}
	50% {
		background-color: hsl(21, 100%, 39%);
	}
	60% {
		background-color: hsl(57, 100%, 39%);
	}
	70% {
		background-color: hsl(93, 100%, 39%);
	}
	80% {
		background-color: hsl(129, 100%, 39%);
	}
	90% {
		background-color: hsl(165, 100%, 39%);
	}
	100% {
		background-color: hsl(201, 100%, 39%);
	}
}

@-webkit-keyframes lsdtrip /* Safari and Chrome - necessary duplicate */
{
        0% {
                background-color: hsl(201, 100%, 39%);
        }
        10% {
                background-color: hsl(237, 100%, 39%);
        }
        20% {
                background-color: hsl(273, 100%, 39%);
        }
        30% {
                background-color: hsl(309, 100%, 39%);
        }
        40% {
                background-color: hsl(345, 100%, 39%);
        }
        50% {
                background-color: hsl(21, 100%, 39%);
        }
        60% {
                background-color: hsl(57, 100%, 39%);
        }
        70% {
                background-color: hsl(93, 100%, 39%);
        }
        80% {
                background-color: hsl(129, 100%, 39%);
        }
        90% {
                background-color: hsl(165, 100%, 39%);
        }
        100% {
                background-color: hsl(201, 100%, 39%);
        }
}

